.incomeTitle{
    background-color: #94c7c0;   /*#94c7c0*/
    display: flex;
    text-align: center;
    height: 70px;
    padding: 10px;
    align-items: center;
    gap: 15px;
    position: inherit;
    justify-content: space-between;
    color: #153c3f;
    border-radius: 5px;
}

.title{
    font-size: 25px;
}

.text{
    display: flex;
    gap: 20px;
}

.totalIncome{
    display: block;
}

.incomeItemDiv{
    display: flex;
    gap: 20px;
    height: 210px;
    background-color: rgba(128, 128, 128, 0.121);
}

.incomeItemDiv:active, .incomeItemDiv:focus {
    transform: scaleY(1,5);
}

.incomeItem{
    /*border: 2px solid red;*/
    width: 30%;
    padding: 0;
    margin: 0;
    flex-wrap: wrap;
}

.incomeItemDivButton {
    height: 50%;
    margin: auto 0;
    margin-right: 10px;
}

.incomeItemDivButton button{
    border-radius: 50%;
    align-items: center;

    display: flex;
    flex-direction: column;
    margin: auto 0;

}

.createForm{
    display: flex;
    gap: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.createFormInputs input{
    border-radius: 5px;
    margin-right: 15px;
    border:1px solid gray;
    padding-left: 5px;
}

.createFormButtons button{
    margin-right: 10px;
}