.bodyDiv{
    margin-left: 20px;
    margin-right: 20px;
    background-image: url(https://img.freepik.com/free-vector/simple-gradient-background-vector-in-winter-blue-and-pink_53876-105768.jpg?w=2000&t=st=1680447746~exp=1680448346~hmac=8e4c7a4cc5850ca6861bfc415b51529133ca15fed73d82192170166ff228a3b9);
}

.bodyDivFlex{
    display: flex;
}

.mainDiv{
    border: 1px solid red;
    margin-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
    width: 50%;
}

.mainDivText{
    font-size: 25px;
}

.incomeDiv{
    border: 2px solid black;
    width: 95%;
}

.incomeDiv:active, .incomeDiv:focus {
    transform: scaleY(1,5);
}


/* Account */
.accountList{
    margin-top: 30px;
    border: 2px solid purple;
    width: 95%;
}


.transactionList{
    border: 1px solid red;
    margin-top: 10px;
    padding-left: 30px;
    padding-right: 15px;
    width: 50%;
}

.transactionListDiv{
    border: 2px solid black;
    width: 95%;
    margin-top: 40px;
}

.expenseList{
    border: 2px solid black;
    width: 95%;
    margin-top: 40px;
}